body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url('airplane.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h2 {
    font-size: 36px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section {
    padding: 100px 0;
    text-align: center;
}

section h2 {
    margin-bottom: 30px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.resized-image {
    width: 900px; /* Set the desired width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
}
